---

- block:
    - name: Generate Odoo init script (standard)
      template: src=odoo-{{ odoo_version }}.init dest=/etc/init.d/{{ odoo_service }}
            owner=root group=root mode=0755
            force=yes
            backup=yes
      when: ansible_service_mgr != 'systemd'
      notify: Restart Odoo

    - name: Generate systemd Odoo service (standard)
      template:
            src=odoo-standard.service
            dest=/etc/systemd/system/{{ odoo_service }}.service
            owner=root group=root mode=0755
            force=yes
            backup=yes
      when: ansible_service_mgr == 'systemd'
      notify:
      - Reload Systemd
      - Restart Odoo
  when: odoo_install_type == 'standard'

- block:
    - name: Generate Odoo init script (buildout)
      template: src=odoo-buildout.init dest=/etc/init.d/{{ odoo_service }}
            owner=root group=root mode=0755
            force=yes
            backup=yes
      when: ansible_service_mgr != 'systemd'
      notify: Restart Odoo
    
    - name: Generate systemd Odoo service (buildout)
      template:
            src=odoo-buildout.service
            dest=/etc/systemd/system/{{ odoo_service }}.service
            owner=root group=root mode=0755
            force=yes
            backup=yes
      when: ansible_service_mgr == 'systemd'
      notify:
      - Reload Systemd
      - Restart Odoo
  when: odoo_install_type == 'buildout'

- block:
    - name: Generate Odoo init script (pip)
      template: src=odoo-pip.init dest=/etc/init.d/{{ odoo_service }}
            owner=root group=root mode=0755
            force=yes
            backup=yes
      when: ansible_service_mgr != 'systemd'
      notify: Restart Odoo

    - name: Generate systemd Odoo service (pip)
      template:
            src=odoo-pip.service
            dest=/etc/systemd/system/{{ odoo_service }}.service
            owner=root group=root mode=0755
            force=yes
            backup=yes
      when: ansible_service_mgr == 'systemd'
      notify:
      - Reload Systemd
      - Restart Odoo
  when: odoo_install_type == 'pip'

- name: Enable Odoo service
  service: name={{ odoo_service }} enabled=yes state=started
  when: odoo_init == True

- name: Disable Odoo service
  service: name={{ odoo_service }} enabled=no state=stopped
  when: odoo_init == False
