# Ansible managed

- /bin
- /boot
- /cdrom
- /dev
- /lib
- /lib32
- /lib64
- /media
- /mnt
- /proc
- /run
- /sbin
- /selinux
- /sys
- /tmp
+ /usr/local
- /usr/*
- /initrd*
- /swapfile*
- /vmlinuz*
- /vz

- /var/agentx
- /var/cache
- /var/lib/apt
- /var/lib/amavis/tmp
- /var/lib/libvirt/images
- /var/lib/lxc
- /var/lib/lxcsnaps
- /var/lib/mysql
- /var/lib/postgresql
- /var/lib/python-support
+ /var/lib/vz/dump
- /var/lib/vz/*
- /var/lock
- /var/run
- /var/spool/postfix
- /var/tmp
- /home/*/buildout/parts/*
- /home/*/buildout/eggs/*
- /var/swap.img

